// VARIABLES

$grey: #B2B7C6;
$white: #fff;
$orange: #FF5C1E;
$blue: #128FAE;

$font: 'Karla', sans-serif;
$fontTitle: 'Abril Fatface', cursive;

// GÉNÉRAL

html, body {
    margin: 0;
}
body {
    font-family: $font;
    overflow-x: hidden;
}

h1 {
    font-family: $fontTitle;
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 25px;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.cta {
    background-color: $orange;
    color: $white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 9px;
    text-align: center;
    transform: translateY(0);
    transition: 0.3s ease;
    &.grey {
        background-color: $grey;
    }
    &:hover {
        transform: translateY(-3px);
        transition: 0.3s ease;
    }
}

// Connexion

section.login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .img {
        height: 100vh;
        width: 100%;
        position: relative;
        z-index: 0;
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 85vh;
            padding: 50px;
            .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p {
                    color: $grey;
                }
            }
            .buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                .create {
                    margin-bottom: 30px;
                    width: 100%;
                }
                .signin {
                    color: $white;
                    transform: translateY(0);
                    transition: 0.3s ease;
                    span {
                        color: $orange;
                        font-weight: 600;
                    }
                    &:hover {
                        transform: translateY(-3px);
                        transition: 0.3s ease;
                    }
                }
            }
        }
    }
    &.signin {
        .img {
            &::before {
                content: "";
                background-color: black;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0.4;
            }
        }
        .content {
            display: inherit;
            align-items: inherit;
            justify-content: inherit;
            flex-direction: inherit;
            position: relative;
            .logo {
                margin-bottom: 30px;
            }
            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                input {
                    color: $white;
                    border: none;
                    background-color: inherit;
                    border-bottom: 1px solid $white;
                    padding-bottom: 10px;
                    margin-bottom: 35px;         
                    &::placeholder {
                        color: $white !important;
                    }
                    &:focus {outline: none;}
                }
                input[type=email]::placeholder, input[type=password]::placeholder, input[type=text]::placeholder {
                    color: $white;
                }
            }
            .signin {
                position: absolute;
                bottom: 50px;
            }
        }
    }
    &.createAccount {
        .signin-btn {
            position: inherit !important;
        }
    }
}

// Homepage
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    .arrow
    .toggleMenu{
        width: 20px;
        height: 16px;
        position: relative;
        span {
            background-color: black;
            width: 10px;
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            &:nth-child(2) {
                top: 7px;
                width: 20px;
            }
            &:nth-child(3) {
                top: 14px;
                width: 15px;
            }
        }
    }
    .logo {
        img {
            width: 55px;
        }
    }
}

section.contentHome {
    padding: 20px;
    .name {
        color: $grey;
        font-size: 14px;
        margin-bottom: 30px;
    }
    section.search {
        form {
            display: flex;
            input {
                border: none;
                background-color: rgba($color: $grey, $alpha: 0.2);
                border-radius: 5px;
                width: 100%;
                margin-right: 5px;
                padding: 11px 15px;
                margin-bottom: 3px;
                letter-spacing: 0.3px;
            }
            .filter {
                img {
                    width: 40px;
                }
            }
        }
    }
}

section.myIngredients {
    padding: 20px;
    padding-top: 0;
    .ingredients {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .ing {
            width: 18%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            p {
                font-size: 12px;
            }
        }
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        .cta {
            padding: 11px 25px;
        }
    }
}

section.topWeek {
    padding: 20px;
    padding-top: 0;
    margin-bottom: 25px;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;
        h2 {
            margin: 0;
        }
        a {
            color: $orange;
            font-size: 13px;
            transform: translateY(0);
            transition: 0.3s ease;
            &:hover {
                transform: translateY(-3px);
                transition: 0.3s ease;
            }
        }
    }
    .cards {
        .owl-home {
            .card {
                background-color: rgba($color: $grey, $alpha: 0.2);
                border-radius: 7px;
                padding: 10px 20px;
                .heartStroke, .heart {
                    width: 20px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                .heartStroke {
                    opacity: 1;
                    transition: 0.3s ease;
                    &.unactive {
                        opacity: 0;
                        transition: 0.3s ease;
                    }
                }
                .heart {
                    opacity: 0;
                    transition: 0.3s ease;
                    &.active {
                        opacity: 1;
                        transition: 0.3s ease;
                    }
                }
                .plat {
                    position: relative;
                    right: -30px;
                    top: 10px;
                }
                .text {
                    p {
                        color: $blue;
                        font-size: 12px;
                    }
                    h2 {
                        margin: 0;
                        margin-bottom: 10px;
                    }
                    .stars {
                        img {
                            width: 70px;
                        }
                    }
                    .calories {
                        color: black;
                        margin-bottom: 0;
                    }
                    .preparation {
                        display: flex;
                        justify-content: space-between;
                        .time, .quantity {
                            display: flex;
                            align-items: center;
                            .picto {
                                margin-right: 5px;
                            }
                            p {
                                color: $grey;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.playlist {
    padding: 20px;
    padding-top: 0;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;
        h2 {
            margin: 0;
        }
        a {
            color: $orange;
            font-size: 13px;
            transform: translateY(0);
            transition: 0.3s ease;
            &:hover {
                transform: translateY(-3px);
                transition: 0.3s ease;
            }
        }
    }
    .cards {
        .card {
            background-color: rgba($color: $grey, $alpha: 0.2);
            border-radius: 7px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 15px;
            .heart {
                position: absolute;
                right: 15px;
                top: 15px;
            }
            .text {
                p {
                    color: $blue;
                    font-size: 12px;
                }
                h2 {
                    margin: 0;
                    margin-bottom: 10px;
                }
                .stars {
                    img {
                        width: 70px;
                    }
                }
                .rate {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 10px;
                    }
                    .calories {
                        color: black;
                        margin-bottom: 0;
                        font-size: 12px;
                    }
                }
                .preparation {
                    display: flex;
                    justify-content: space-between;
                    .time, .quantity {
                        display: flex;
                        align-items: center;
                        .picto {
                            margin-right: 5px;
                        }
                        p {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }
}

section.choose {
    padding: 0 20px;
    margin-bottom: 50px;
   
    h2 {
        margin-bottom: 8px;
    }
    .card {
        background-color: rgba($color: $grey, $alpha: 0.2);
        padding: 20px;
        border-radius: 9px;
        margin-bottom: 8px;
        p {
            text-align: center;
            color: $grey;
            font-size: 14px;
        }
    }
    .button {
        text-align: right;
    }
}

section.recents {
    padding: 0;
    margin: 0 20px;
    padding-top: 10px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    &::before {
        content: "";
        background-color: rgba($color: $grey, $alpha: 0.2);
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    &::after {
        content: "";
        background-color: rgba($color: $grey, $alpha: 0.2);
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .ingredients {
        .ing {
            position: relative;
            img {
                opacity: 0.7;
            }
            &::before {
                content: "+";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 30px;
                z-index: 1;
            }
        }
    }
}

section.find {
    padding: 0 20px;
    margin-bottom: 30px;
    h2 {
        margin-bottom: 10px;
    }
    section.search {
        margin-bottom: 20px;
        form {
            display: flex;
            input {
                border: none;
                background-color: rgba($color: $grey, $alpha: 0.2);
                border-radius: 5px;
                width: 100%;
                margin-right: 5px;
                padding: 11px 15px;
                margin-bottom: 3px;
                letter-spacing: 0.3px;
            }
        }
    }
    .products {
        p {
            color: $orange;
            position: relative;
            cursor: pointer;
            transition: 0.3s ease;
            &::after {
                content: "→";
                position: absolute;
                top: 1px;
                padding-left: 8px;
                transition: 0.3s ease;
            }
            &:hover {
                transition: 0.3s ease;
                &::after {
                    padding-left: 11px;
                    transition: 0.3s ease;
                }
            }
        }
    }
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $white, $alpha: 0.8);
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
        &.active {
            opacity: 1;
            pointer-events: inherit;
            transition: 0.3s ease;
        }
        .content {
            padding: 20px;
            background-color: #F5F5F5;
            position: absolute;
            top: 70px;
            left: 50px;
            right: 50px;
            bottom: 50px;
            overflow: scroll;
            border-radius: 10px;
            .closeCross{
                width: 20px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                span{
                    background-color: $grey;
                    width: 20px;
                    height: 1px;
                    position: absolute;
                    top: 20px;
                    right: 10px;
                    transform: rotate(45deg);
                    &:nth-child(2) {
                        transform: rotate(-45deg);
                    }
                }
            }
            section.search {
                margin-bottom: 20px;
                form {
                    display: flex;
                    input {
                        border: none;
                        background-color: rgba($color: $grey, $alpha: 0.2);
                        border-radius: 5px;
                        width: 100%;
                        margin-right: 5px;
                        padding: 11px 15px;
                        margin-bottom: 3px;
                        letter-spacing: 0.3px;
                    }
                }
            }
            .letter {
                font-weight: 700;
                margin-top: 30px;
                &:first-child {
                    margin-top: 0;
                }
            }
            .each {
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba($color: $grey, $alpha: 0.3);
                margin-bottom: 10px;
                position: relative;
                cursor: pointer; 
                transition: 0.3s ease;
                &::after {
                    content: "+";
                    color: $orange;
                    font-size: 18px;
                    font-weight: 700;
                    position: absolute;
                    right: 0;
                    top: 10px;
                    transition: 0.3s ease;
                }
                &.validate {
                    transition: 0.3s ease;
                    &::after {
                        content: "√";
                        color: green;
                        transition: 0.3s ease;
                    }
                }
                img {
                    margin-right: 10px;
                    width: 30px;
                }
            }
        }
    }
}

.cardsResult {
    margin-top: 30px;
    .card {
        color: black;
        background-color: rgba($color: $grey, $alpha: 0.2);
        border-radius: 7px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 15px;
        .heart {
            position: absolute;
            right: 15px;
            top: 15px;
        }
        .text {
            p {
                color: $blue;
                font-size: 12px;
            }
            h2 {
                margin: 0;
                margin-bottom: 10px;
            }
            .stars {
                img {
                    width: 70px;
                }
            }
            .rate {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
                .calories {
                    color: black;
                    margin-bottom: 0;
                    font-size: 12px;
                }
            }
            .preparation {
                display: flex;
                justify-content: space-between;
                .time, .quantity {
                    display: flex;
                    align-items: center;
                    .picto {
                        margin-right: 5px;
                    }
                    p {
                        color: $grey;
                    }
                }
            }
        }
    }
}

section.recette {
    padding: 0 20px;
    padding-top: 20px;
    .categ {
        color: $blue;
        font-size: 13px;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .heart {
            position: relative;
            top: 3px;
        }
    }
    .calories {
        margin-bottom: 10px;
    }
    .rate {
        width: 70px;
    }
    .content {
        position: relative;
        margin-bottom: 50px;
        .plat {
            position: absolute;
            right: -80px;
            width: 270px;
            top: calc(50% - 70px);
        }
        .time, .quantity {
            display: flex;
            align-items: center;
            margin: 10px 0;
            .picto {
                width: 15px;
                margin-right: 10px;
            }
            p {
                font-size: 14px;
                color: $grey;
            }
        }
    }
    .ingredients {
        margin-bottom: 30px;
        .owl-ing {
            .owl-stage-outer {
                margin-bottom: 10px;
            }
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .ing {
                    width: 60px;
                }
                .pencil {
                    width: 15px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

section.theRecette {
    .points {
        li {
            list-style-type: none;
            position: relative;
            padding-left: 15px;
            margin-bottom: 20px;
            &::before {
                content: "•";
                color: $orange;
                position: absolute;
                left: 0;
                font-size: 20px;
                top: -3px;
            }
        }
    }
}

.owl-dots {
    text-align: center;
    .owl-dot {
        width: 7px;
        height: 7px;
        background-color: $grey !important;
        border-radius: 50%;
        transition: 0.3s ease;
        margin: 5px;
        &.active {
            background-color: $orange !important;
            width: 12px;
            border-radius: 25px;
            transition: 0.3s ease;
        }
    }
}